.main1 {
    display: flex;
    justify-content: center;
    margin-top: 286px;
    gap: 50px;
}

.main2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.btn {
    width: 147px;
    height: 147px;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
}

.btn-order {
    background: #A7D1CC;
}

.btn-phone {
    background: #C2ECE7;
}

.btn-computer {

    background: #66C9BC;
}

.btn-etc {
    background: #3C9E91;
}

.home_text {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 5px;
}

.home_img {
    z-index: 1;
}

/* content */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-text {
    margin: 40px;
}

.content-box {
    width: 339px;
    height: 241px;
    border-radius: 5px;
    outline-color: #CACACA;
    resize: none;
}

.btn-request {
    background: #089885;
    width: 339px;
    height: 55px;
    border-radius: 30px;
    color: white;
    margin-top: 100px;
    border: none;
}